{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>


  <meta http-equiv="content-type" content="text/html" charset= "utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

 

  <title>Inventory Managment</title>

  <!-- Core CSS - Include with every page -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/app.css' %}" rel="stylesheet">



<body>

  <div class="container">
    <h4>Print Web to PDF</h4>
    <div class="header">dasdsadsad</div>
    <h4>{{amount}}</h4>
    <h4>{{name}}</h4>
    <h4>{{order_id}}</h4>
    <center>This text will be center-aligned.</center>
  </div>
  <div class="container">
    asdasdsadasdsadเอกสารใบส่งมอบสินค้า
  </div>
  <table width="968" height="95" border="1" align="center">
      <tr>
        <td width="475" height="87" align="center" valign="middle">&nbsp;</td>
        <td width="475" align="center" valign="middle"><strong>เอกสารใบส่งมอบสินค้า</strong></td>
      </tr>
    </table>

   
    





</body>

</html>


