 {% load staticfiles %}

<!DOCTYPE html>
<html>

<head>


  <meta http-equiv="content-type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">




  <title>Inventory Managment</title>

  <!-- Core CSS - Include with every page -->
  <!--<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">-->
  <link href="{% static 'css/app.css' %}" rel="stylesheet">

  <style type='text/css'>
    body {
      font-family: 'THSarabun';
      padding-top: 1rem;
      font-size: 150%;
    }
  </style>

</head>

<body>

  <div class="container">

    <table width="968" height="95" border="1" align="center">
      <tr>
        <td width="475" height="87" align="center" valign="middle">
          <img src="{% static 'img/svoa-logo.png' %}" width="200" height="100" alt="">
        </td>
        <td width="475" align="center" valign="middle">
          <strong>
            <h3>เอกสารใบส่งมอบสินค้า</h3>
          </strong>
        </td>
      </tr>
    </table>
    <br />
    <table width="968" height="138" align="center">
      <tr>
        <td width="146"> นามลูกค้า :</td>
        <td width="248">{{ customer_name }}</td>
        <td width="297" align="center">เลขที่เอกสาร :</td>
        <td width="257" align="center"> {{no}}</td>
      </tr>
      <tr>
        <td>ที่อยู่ :</td>
        <td>{{customer_address}}</td>
        <td align="center">วันที่ :</td>
        <td align="center">{{date}}</td>
      </tr>
      <tr>
        <td>ผู้ติดต่อ :</td>
        <td>{{staff_name}}</td>
        <td align="center">สัญญาเลขที่ :</td>
        <td align="center">{{contract_no}}</td>
      </tr>
      <tr>
        <td>โทรศัพท์ :</td>
        <td>{{customer_tel}}</td>
        <td align="center">อ้างถึง :</td>
        <td align="center">{{ref}}</td>
      </tr>
    </table>
    <table width="955" height="45" border="0" align="center">
      <tr>
        <td width="191" align="center">บริษัท เอสวีโอเอ จำกัด ( มหาชน ) ได้จัดส่งสินค้า เครื่องคอมพิวเตอร์และอุปกรณ์ต่างๆ ดังรายการต่อไปนี้</td>
      </tr>
    </table>

  </div>

  <table width="954" height="429" border="1" align="center">
    <tr>
      <td width="66" height="48" align="center"> ลำดับที่</td>
      <td width="140" align="center">รหัสสินค้า</td>
      <td width="460" align="center">รายละเอียดสินค้า</td>
      <td width="70" align="center">จำนวน</td>
      <td width="184" align="center">หมายเลขเครื่อง</td>
    </tr>
    <tr>
      <td align="center">{{ no }}</td>
      <td align="center">{{key_pd}}</td>
      <td> {{detail_pd}}</td>
      <td align="center">{{count_pd}}</td>
      <td align="center">{{serial_pd}}</td>
    </tr>
  </table>
  <table width="958" height="42" border="0" align="center" valign="bottom">
    <tr>
      <td width="846" height="38" align="left" v>หมายเหตุ :   {{note}}</td>
    </tr>
  </table >

  <p align="center"> ................................................................................................................................................................................................................................................</p>
  <p align="center">ได้ตรวจรับสินค้าตามรายการนี้ครบถ้วนถูกต้อง</p>
  <table width="971" height="257" align="center">
    <tr>
      <td height="29" align="center">ผู้ตรวจรับสินค้า</td>
      <td align="center">ผู้ส่งสินค้า</td>
    </tr>
    <tr>
      <td height="23" align="center">ลงชื่อ เจ้าหน้าที่หน่วยงาน</td>
      <td align="center">ลงชื่อเจ้าหน้าที่ บริษัท เอสวีโอเอ จำกัด (มหาชน)</td>
    </tr>
    <tr>
      <td height="65" align="center" valign="bottom">.................................................................</td>
      <td align="center" valign="bottom">.................................................................</td>
    </tr>
    <tr>
      <td height="39" align="center" valign="bottom">(......................................................)</td>
      <td align="center" valign="bottom">(......................................................)</td>
    </tr>
    <tr>
      <td height="39" align="center" valign="bottom">วันที่ .........../............./...............</td>
      <td align="center" valign="bottom">วันที่ .........../............./...............</td>
    </tr>
    <tr>
      <td height="46" align="center" valign="bottom">เบอร์ติดต่อ .............................................</td>
      <td align="center" valign="bottom">เบอร์ติดต่อ .............................................</td>
    </tr>
  </table>








</body>

</html>