
@font-face {
    font-family: 'THSarabun';
    src: url(THSarabun.ttf);
    font-size: 100;
    font-style: normal;
  }

  


.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
}

body {
    
    padding-top: 1rem;
  }
  
.starter-template {
    padding: .5rem 1.5rem;
    text-align: center;
}
  
  
.buttion_place{
      padding-left: 80%;
      padding-bottom: 50px;
  
}
  
.product_heder{
      text-align: center;
      padding-bottom: 50px;
}


